<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of memoryItensList" size="4" size-md style="height: 8em;">
        <div [ngClass]="item.selected ? 'image-box selected' : 'image-box flip unselected'" (click)="selectItem(item)">
          <div [ngClass]="item.disabled ? 'image-box disable' : ''">
            <div class="fruit-image">
              <img [src]="item.img" alt="">
            </div>
          </div>
        </div>

        <div class="back" (click)="selectItem(item)">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>